<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="spaceship" src="spaceship.gltf" />
    <texture id="shipBody" src="../../textures/spaceShip/BASE_baseColor.png"/>
    <texture id="shipWings" src="@/assets/textures/spaceShip/WINGS_baseColor.png"/>
  </assets>
  <entities>
    <entity tag="Cube.010_BASE_0" position="-0.002,1.686,-1.694"  scale="1.000,1.000,1.000">
      <components>
        <renderer model="spaceship" mesh="0" texture="shipBody"/>
        <light color="255, 0, 180" intensity="8" radius="200.0"/>
      </components>
      <entity tag="Cube.003_WINGS_0" position="0.002,6.562,-2.291" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="spaceship" mesh="1" texture="shipWings" />
        </components>
      </entity>
      <entity tag="engine_left" position="15.172,26.084,-0.518" rotation="-180.000,-0.000,0.000" scale="2.614,2.614,2.614">
        <components>
          <renderer model="spaceship" mesh="2" color="255,255,255" />
          <logic>
            <script type="EngineFlame"/>
          </logic>
        </components>
        <entity tag="engine2.002" position="0.000,-0.172,0.000" rotation="0.000,-0.000,0.000" scale="0.866,0.866,0.866">
          <components>
            <renderer model="spaceship" mesh="3" color="255,255,255" />
          </components>
          <entity tag="engine3.002" position="0.000,-0.890,0.000" rotation="0.000,-0.000,0.000" scale="0.822,0.822,0.822">
            <components>
              <renderer model="spaceship" mesh="4" color="255,255,255" />
            </components>
          </entity>
        </entity>
      </entity>
      <entity tag="engine_mid" position="0.002,41.369,1.304" rotation="-180.000,-0.000,0.000" scale="4.463,4.463,4.463">
        <components>
          <renderer model="spaceship" mesh="5" color="255,255,255" />
          <logic>
            <script type="EngineFlame"/>
          </logic>
        </components>
        <entity tag="engine2" position="0.000,-0.172,0.000" rotation="0.000,-0.000,0.000" scale="0.866,0.866,0.866">
          <components>
            <renderer model="spaceship" mesh="6" color="255,255,255" />
          </components>
          <entity tag="engine3" position="0.000,-0.890,0.000" rotation="0.000,-0.000,0.000" scale="0.822,0.822,0.822">
            <components>
              <renderer model="spaceship" mesh="7" color="255,255,255" />
            </components>
          </entity>
        </entity>
      </entity>
      <entity tag="engine_right" position="-14.951,26.084,-0.518" rotation="-180.000,-0.000,0.000" scale="2.614,2.614,2.614">
        <components>
          <renderer model="spaceship" mesh="8" color="255,255,255" />
          <logic>
            <script type="EngineFlame"/>
          </logic>
        </components>
        <entity tag="engine2.001" position="0.000,-0.172,0.000" rotation="0.000,-0.000,0.000" scale="0.866,0.866,0.866">
          <components>
            <renderer model="spaceship" mesh="9" color="255,255,255" />
          </components>
          <entity tag="engine3.001" position="0.000,-0.890,0.000" rotation="0.000,-0.000,0.000" scale="0.822,0.822,0.822">
            <components>
              <renderer model="spaceship" mesh="10" color="255,255,255" />
            </components>
          </entity>
        </entity>
      </entity>
    </entity>
  </entities>
</template>
