<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="box" src="box.obj" />
  </assets>
  <entities>
    <entity tag="Cube" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <components>
        <renderer model="box" mesh="0" color="204,204,204" />
      </components>
    </entity>
  </entities>
</template>
