<?xml version="1.0" encoding="UTF-8"?>
<template name="box" source="box.obj">
  <assets>
    <model id="box" src="box.obj" />
    <material id="box_DefaultMaterial" name="DefaultMaterial" src="box_DefaultMaterial.mat" async="false"/>
    <material id="box_Material" name="Material" src="box_Material.mat" async="false"/>
  </assets>
  <entities>
    <entity tag="box.obj" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <entity tag="Cube" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <entity tag="Cube" position="0.000,0.000,0.000" rotation="0.000,0.000,0.000" scale="1.000,1.000,1.000">
          <components>
            <renderer model="box" meshIdx="0" material="box_Material" />
          </components>
        </entity>
      </entity>
    </entity>
  </entities>
</template>
