<?xml version="1.0" encoding="UTF-8"?>
<template name="gizmo" source="gizmo.obj">
  <assets>
    <model id="gizmo" src="gizmo.obj" />
    <material id="gizmo_DefaultMaterial" name="DefaultMaterial" src="gizmo_DefaultMaterial.mat" />
  </assets>
  <entities>
    <entity tag="gizmo.obj" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <entity tag="gizmo" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <entity tag="gizmo" position="0.000,0.000,0.000" rotation="0.000,0.000,0.000" scale="1.000,1.000,1.000">
          <components>
            <renderer model="gizmo" meshIdx="0" material="gizmo_DefaultMaterial" />
          </components>
        </entity>
      </entity>
    </entity>
  </entities>
</template>
