<?xml version="1.0" encoding="UTF-8"?>
<template name="untitled45" source="untitled45.fbx">
  <assets>
    <model id="untitled45" src="untitled45.fbx" />
  </assets>
  <entities>
    <entity tag="Light" position="0.408,0.590,-0.101" rotation="-132.466,72.779,-169.256" scale="0.100,0.100,0.100" />
    <entity tag="Camera" position="0.736,0.496,0.693" rotation="-157.231,37.892,-145.652" scale="0.100,0.100,0.100" />
    <entity tag="xyzCalibration_cube (2)" position="0.000,0.000,-3.598" rotation="0.000,-0.000,90.000" scale="0.100,0.100,0.100">
      <components>
        <renderer model="untitled45" mesh="0" color="204.000,204.000,204.000,1.000" />
      </components>
    </entity>
    <entity tag="gizmo" position="0.000,0.000,0.000" rotation="-90.000,-0.000,180.000" scale="0.100,0.100,0.100">
      <components>
        <renderer model="untitled45" mesh="1" color="204.000,204.000,204.000,1.000" />
      </components>
    </entity>
  </entities>
</template>
