<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="coin" src="coin.gltf" />
  </assets>
  <entities>
    <entity tag="Top_Material" position="0.000,0.000,0.000" rotation="90.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <components>
        <renderer model="coin" mesh="0" color="255,255,0" />
      </components>
      <entity tag="Bottom_Material" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="coin" mesh="1" color="255,255,0" />
        </components>
      </entity>
      <entity tag="Centre_Material" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <light color="255,255,0" intensity="25" radius="50.0"/>
          <renderer model="coin" mesh="2" color="255,255,0" />
        </components>
      </entity>
    </entity>
  </entities>
</template>
