<?xml version="1.0" encoding="UTF-8"?>
<template name="CCP2" source="CCP2.fbx">
  <assets>
    <model id="CCP2" src="CCP2.fbx" />
    <material id="CCP2_CCP2" src="CCP2_CCP2.mat" />
  </assets>
  <entities>
    <entity tag="Companion_P2" position="0.000,0.000,0.000" rotation="-90.000,-0.000,0.000" scale="1.000,1,1.000">
      <components>
        <renderer model="CCP2" mesh="0" material="CCP2_CCP2" />
        <physics anchored="false" canCollide="true" mass="1"/>
      </components>
    </entity>
  </entities>
</template>
