<?xml version="1.0" encoding="UTF-8"?>
<template name="scene" source="scene.gltf">
  <assets>
    <model id="scene" src="scene.gltf" />
    <texture id="BASE_baseColor" src="BASE_baseColor.png" />
    <texture id="WINGS_baseColor" src="WINGS_baseColor.png" />
    <texture id="road" src="road.png" />
    <texture id="rootBase1" src="Root_baseColor-1.png" />
    <texture id="rootBase2" src="Root_baseColor.png" />
  </assets>
  <entities>
    <entity tag="sidewalk" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="0.551,0.232,1.000">
      <components>
        <renderer model="scene" mesh="2" color="255,255,255" texture="road" />
      </components>
      <entity tag="baseLeft1" position="17.034,-0.693,17.190" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="scene" mesh="3" color="255,255,255" texture="road" />
        </components>
      </entity>
      <entity tag="baseLeft2.001" position="-3.096,-0.693,17.190" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="scene" mesh="4" color="255,255,255" texture="road" />
        </components>
      </entity>
      <entity tag="baseRight1.002" position="17.034,-0.693,-17.503" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="scene" mesh="5" color="255,255,255" texture="road" />
        </components>
      </entity>
      <entity tag="baseRight1.003" position="-3.096,-0.693,-17.580" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="scene" mesh="6" color="255,255,255" texture="road" />
        </components>
      </entity>
      <entity tag="lightLeft" position="-0.000,-2.925,4.393" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="scene" mesh="7" color="255,255,255" texture="road" />
        </components>
      </entity>
      <entity tag="lightRight" position="-0.000,-2.925,4.393" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="scene" mesh="8" color="255,255,255" texture="road" />
        </components>
      </entity>
      <entity tag="roadLeft" position="-0.005,-3.913,4.304" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="scene" mesh="9" color="100,140,160,1" />
        </components>
      </entity>
      <entity tag="roadRight" position="-0.008,-3.913,-4.408" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="scene" mesh="10" color="100,140,160,1" />
        </components>
      </entity>
    </entity>
    <entity tag="Sketchfab_model" position="8.198,-10.941,17.064" rotation="-90.000,90.000,0.000" scale="0.165,0.317,0.165">
      <entity tag="eca6a42b80f343f0bc956ca63c37cc94.fbx" position="0.000,0.000,0.000" rotation="90.000,-0.000,0.000" scale="0.010,0.010,0.010">
        <entity tag="RootNode" position="0.000,0.000,-0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <entity tag="Sci_fi_building" position="233.332,1333.333,41.666" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
            <entity tag="1" position="-233.332,-1333.333,-41.667" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="1__0" position="0.000,0.000,-0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="11" color="255,255,255" texture="rootBase2" />
                </components>
              </entity>
            </entity>
            <entity tag="2" position="466.667,2666.667,83.333" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="2__0" position="-0.001,-0.000,-0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="12" color="255,255,255" texture="rootBase2" />
                </components>
              </entity>
            </entity>
            <entity tag="3" position="-233.332,-1333.333,-41.667" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="3__0" position="0.000,0.000,-0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="13" color="255,255,255" texture="rootBase2" />
                </components>
              </entity>
            </entity>
          </entity>
        </entity>
      </entity>
    </entity>
    <entity tag="Sketchfab_model.003" position="-6.858,-11.327,-15.396" rotation="111.038,89.972,-158.962" scale="0.165,0.317,0.165">
      <entity tag="eca6a42b80f343f0bc956ca63c37cc94.fbx.003" position="-0.000,0.000,0.000" rotation="90.000,-0.000,-180.000" scale="0.010,0.010,0.010">
        <entity tag="RootNode.003" position="0.001,-0.001,0.000" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
          <entity tag="Sci_fi_building.003" position="233.334,1333.333,41.667" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
            <entity tag="1.003" position="-233.334,-1333.333,-41.667" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
              <entity tag="1__0.003" position="-0.001,-0.001,-0.000" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="14" color="255,255,255" texture="rootBase2" />
                </components>
              </entity>
            </entity>
            <entity tag="2.003" position="466.666,2666.667,83.333" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
              <entity tag="2__0.003" position="-0.000,-0.000,-0.000" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="15" color="255,255,255" texture="rootBase2" />
                </components>
              </entity>
            </entity>
            <entity tag="3.003" position="-233.334,-1333.333,-41.667" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
              <entity tag="3__0.003" position="-0.001,-0.001,-0.000" rotation="180.000,-0.000,180.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="16" color="255,255,255" texture="rootBase2" />
                </components>
              </entity>
            </entity>
          </entity>
        </entity>
      </entity>
    </entity>
    <entity tag="Sketchfab_model.001" position="-5.889,0.000,17.462" rotation="-90.000,-0.000,0.000" scale="0.170,0.170,0.170">
      <entity tag="a24740927e834275b91dc9e6ef62e5aa.fbx" position="0.000,-0.000,0.000" rotation="90.000,-0.000,0.000" scale="0.010,0.010,0.010">
        <entity tag="RootNode.001" position="-0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <entity tag="building" position="0.017,10.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
            <entity tag="base" position="-0.018,4990.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="base__0" position="-0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="17" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="base2" position="-0.018,17990.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="base2__0" position="-0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="18" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="cone" position="-0.018,19989.998,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="cone__0" position="-0.000,-0.002,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="19" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="glass" position="-0.018,9990.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="glass__0" position="-0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="20" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="pipes" position="0.071,9215.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="pipes__0" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="21" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
          </entity>
        </entity>
      </entity>
    </entity>
    <entity tag="Sketchfab_model.002" position="6.853,0.000,-17.741" rotation="-90.000,-0.000,0.000" scale="0.170,0.170,0.170">
      <entity tag="a24740927e834275b91dc9e6ef62e5aa.fbx.001" position="0.000,0.000,0.000" rotation="90.000,-0.000,0.000" scale="0.010,0.010,0.010">
        <entity tag="RootNode.002" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <entity tag="building.001" position="0.018,10.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
            <entity tag="base.001" position="-0.018,4990.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="base__0.001" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="22" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="base2.001" position="-0.018,17990.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="base2__0.001" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="23" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="cone.001" position="-0.018,19989.998,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="cone__0.001" position="0.000,-0.002,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="24" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="glass.001" position="-0.018,9990.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="glass__0.001" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="25" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
            <entity tag="pipes.001" position="0.071,9215.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
              <entity tag="pipes__0.001" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
                <components>
                  <renderer model="scene" mesh="26" color="255,255,255" texture="rootBase1" />
                </components>
              </entity>
            </entity>
          </entity>
        </entity>
      </entity>
    </entity>
  </entities>
</template>