<?xml version="1.0" encoding="UTF-8"?>
<template name="tempTrackScene" source="tempTrackScene.gltf">
  <assets>
    <model id="tempTrackScene" src="tempTrackScene.gltf" />
    <material id="tempTrackScene_WINGS" src="tempTrackScene_WINGS.mat" />
    <material id="tempTrackScene_BASE" src="tempTrackScene_BASE.mat" />
    <material id="tempTrackScene_lights" src="tempTrackScene_lights.mat" />
    <material id="tempTrackScene_metalic dark gray" src="tempTrackScene_metalic dark gray.mat" />
    <material id="tempTrackScene_020Ma" src="tempTrackScene_020Ma.mat" />
    <material id="tempTrackScene_020Mb" src="tempTrackScene_020Mb.mat" />
    <material id="tempTrackScene_Material_6" src="tempTrackScene_Material_6.mat" />
  </assets>
  <entities>
    <entity tag="ship" position="-0.003,-0.908,4.304" rotation="23.199,-89.980,-113.199" scale="0.633,0.633,0.633">
      <components>
        <renderer model="tempTrackScene" mesh="0" material="tempTrackScene_BASE" />
      </components>
      <entity tag="Cube.003_WINGS_0" position="-0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="1" material="tempTrackScene_WINGS" />
        </components>
      </entity>
    </entity>
    <entity tag="sidewalk" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="0.551,0.232,1.000">
      <components>
        <renderer model="tempTrackScene" mesh="2" material="tempTrackScene_metalic dark gray" />
      </components>
      <entity tag="baseLeft1" position="17.034,-0.693,17.190" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="3" material="tempTrackScene_Material_6" />
        </components>
      </entity>
      <entity tag="baseLeft2.001" position="-3.096,-0.693,17.190" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="4" material="tempTrackScene_Material_6" />
        </components>
      </entity>
      <entity tag="baseRight1.002" position="17.034,-0.693,-17.503" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="5" material="tempTrackScene_Material_6" />
        </components>
      </entity>
      <entity tag="baseRight1.003" position="-3.096,-0.693,-17.580" rotation="0.000,-0.000,0.000" scale="1.816,4.311,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="6" material="tempTrackScene_Material_6" />
        </components>
      </entity>
      <entity tag="lightLeft" position="-0.000,-2.925,4.393" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="7" material="tempTrackScene_lights" />
        </components>
      </entity>
      <entity tag="lightRight" position="-0.000,-2.925,4.393" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="8" material="tempTrackScene_lights" />
        </components>
      </entity>
      <entity tag="roadLeft" position="-0.005,-3.913,4.304" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="9" material="tempTrackScene_metalic dark gray" />
        </components>
      </entity>
      <entity tag="roadRight" position="-0.008,-3.913,-4.408" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="10" material="tempTrackScene_metalic dark gray" />
        </components>
      </entity>
    </entity>
    <entity tag="house" position="9.378,-0.161,17.190" rotation="-90.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <components>
        <renderer model="tempTrackScene" mesh="11" material="tempTrackScene_020Ma" />
      </components>
      <entity tag="Object_12" position="-0.001,-5.166,0.021" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="12" material="tempTrackScene_020Ma" />
        </components>
      </entity>
      <entity tag="Object_14" position="0.000,0.595,-0.468" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="13" material="tempTrackScene_020Mb" />
        </components>
      </entity>
      <entity tag="Object_15" position="0.000,-5.755,-0.468" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="14" material="tempTrackScene_020Mb" />
        </components>
      </entity>
      <entity tag="Object_19" position="-0.015,-2.540,0.059" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="15" material="tempTrackScene_020Mb" />
        </components>
      </entity>
      <entity tag="Object_22" position="-0.012,-2.542,-0.284" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="tempTrackScene" mesh="16" material="tempTrackScene_020Mb" />
        </components>
      </entity>
    </entity>
  </entities>
</template>
