<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="ground" src="ground.fbx" />
  </assets>
  <entities>
    <entity tag="RootNode" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <entity tag="ground_main" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="0.1,0.1,0.1">
        <components>
          <renderer model="ground" mesh="0" color="13,24,66" />
        </components>
        <entity tag="SP_Ground02_Mat" position="10.693,6.542,-8.146" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <components>
            <renderer model="ground" mesh="1" color="22,41,92" />
          </components>
        </entity>
        <entity tag="SP_Ground03_Mat" position="-13.725,10.955,-2.527" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <components>
            <renderer model="ground" mesh="2" color="39,62,116" />
          </components>
        </entity>
        <entity tag="SP_Ground04_Mat" position="27.083,10.410,-77.464" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <components>
            <renderer model="ground" mesh="3" color="39,62,116" />
          </components>
        </entity>
        <entity tag="SP_Ground05_Mat" position="51.317,9.753,48.565" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
          <components>
            <renderer model="ground" mesh="4" color="39,62,116" />
          </components>
        </entity>
      </entity>
    </entity>
  </entities>
</template>
