<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="test" src="test.obj" />
  </assets>
  <entities>
    <entity tag="test.obj" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <entity tag="tank" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="test" mesh="0" color="204,204,204" />
        </components>
      </entity>
      <entity tag="tank_turret" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="test" mesh="1" color="204,204,204" />
        </components>
      </entity>
    </entity>
  </entities>
</template>
