<?xml version="1.0" encoding="UTF-8"?>
<template name="14077_WWII_Tank_Germany_Panzer_III_v1_L2" source="Assets/Scenes\../Objects/Panzer/14077_WWII_Tank_Germany_Panzer_III_v1_L2.obj">
	<assets>
		<mesh assetId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_turret" src="14077_WWII_Tank_Germany_Panzer_III_turret.mesh" />
		<mesh assetId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_tracks" src="14077_WWII_Tank_Germany_Panzer_III_tracks.mesh" />
		<mesh assetId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_hull" src="14077_WWII_Tank_Germany_Panzer_III_hull.mesh" />
		<material assetId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.03___14077_WWII_Tank_Germany_Panzer_III_turret" src="03___14077_WWII_Tank_Germany_Panzer_III_turret.mat" />
	</assets>
	<entities>
		<entity id="14077_WWII_Tank_Germany_Panzer_III_turret_1" name="14077_WWII_Tank_Germany_Panzer_III_turret" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
			<children>
				<entity id="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_turret" name="14077_WWII_Tank_Germany_Panzer_III_turret" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
					<components>
						<renderer meshId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_turret" materialId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.03___14077_WWII_Tank_Germany_Panzer_III_turret" />
					</components>
				</entity>
			</children>
		</entity>
		<entity id="14077_WWII_Tank_Germany_Panzer_III_hull_1" name="14077_WWII_Tank_Germany_Panzer_III_hull" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
			<children>
				<entity id="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_hull" name="14077_WWII_Tank_Germany_Panzer_III_hull" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
					<components>
						<renderer meshId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_hull" materialId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.03___14077_WWII_Tank_Germany_Panzer_III_turret" />
					</components>
				</entity>
			</children>
		</entity>
		<entity id="14077_WWII_Tank_Germany_Panzer_III_tracks_1" name="14077_WWII_Tank_Germany_Panzer_III_tracks" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
			<children>
				<entity id="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_tracks" name="14077_WWII_Tank_Germany_Panzer_III_tracks" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
					<components>
						<renderer meshId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.14077_WWII_Tank_Germany_Panzer_III_tracks" materialId="14077_WWII_Tank_Germany_Panzer_III_v1_L2.03___14077_WWII_Tank_Germany_Panzer_III_turret" />
					</components>
				</entity>
			</children>
		</entity>
	</entities>
</template>
